@import "../global";


/* 
========== PRODUCTS ==========
*/

.products-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 5rem;
  min-height: 80vh;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 60vw;
  grid-gap: 2rem;
}

.product {
  border: 0.5px rgba(0, 0, 0, 0.089) solid;
  transition: 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    box-shadow: 0px 0px 15px 1px $dark;
    img {
      transform: scale(1.1);
    }
    .add-cart-btn {
      transform: translate(0%, 0%);
    }
  }

  img {
    transform: scale(0.9);
    transition: inherit;
    padding: 1rem;
  }

  /* 
========== PRODUCTS ADD CART ==========
*/

  .add-cart-btn {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 4px;
    outline: none;
    background: none;
    color: $blue;
    border: none;
    transform: translate(100%, -100%);
    transition: 0.5s ease-out;
    &:hover {
      color: $white;
      background: $blue;
    }

    p {
      background: transparent;
      font-size: 1rem;
      margin: 0.5rem 0.2rem;
      font-weight: bolder;
    }
    i {
      cursor: pointer;
      margin: 0.5rem 0.2rem;
    }
  }

  .product-footer {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: darken($white, $amount: 5);
    border-top: 1px $dark dashed;
    border-radius: 3px;
  }
}