:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== CART ==========
*/
.cart-container {
  margin: auto;
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 60vw;
  height: 100vh;
}

.cart-container .caption {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(70px, 80vw))[6];
      grid-template-columns: repeat(6, minmax(70px, 80vw));
  border-bottom: 1px #232528 solid;
  margin-bottom: 1rem;
}

.cart-container .cart-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(70px, 80vw))[6];
      grid-template-columns: repeat(6, minmax(70px, 80vw));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  -webkit-box-shadow: 0.5px 1px 2px 1px #232528;
          box-shadow: 0.5px 1px 2px 1px #232528;
  margin: 0.5rem;
}

.cart-container .cart-wrapper img {
  width: 6rem;
  height: 6rem;
}

.cart-container .cart-wrapper .quantity-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-container .cart-wrapper .quantity-check button {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 5px 1px #232528;
          box-shadow: 2px 4px 5px 1px #232528;
  -webkit-transform: translate(0%, -10%);
          transform: translate(0%, -10%);
}

.cart-container .cart-wrapper .quantity-check button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(1%, 10%);
          transform: translate(1%, 10%);
  -webkit-box-shadow: 0px 0px 1px 0px #232528;
          box-shadow: 0px 0px 1px 0px #232528;
}

.cart-container .cart-wrapper #delete-btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border: none;
  outline: none;
  background: none;
  color: #fc1e1e;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.cart-container .cart-wrapper #delete-btn:hover {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

.cart-container .total {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  margin-top: 4rem;
  font-size: 1.5rem;
  min-width: 250px;
}

.cart-container .total .clear {
  width: 100%;
  border-radius: 5px;
  border: 2px #fc1e1e solid;
  color: #fc1e1e;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  outline: none;
  background: none;
  cursor: pointer;
}

.cart-container .total .clear:hover {
  color: #f3f3f3;
  background: #fc1e1e;
}

.cart-container .total .grand-total {
  font-weight: bolder;
  border-top: 2px #232528 solid;
  margin-bottom: 1rem;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== MINI-CART DROPDOWN ========== 
    check styled components too
*/
.cart-preview-wrapper h4 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-preview-wrapper p {
  margin-left: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cart-preview-wrapper h3 {
  text-align: center;
}

.cart-preview-wrapper .mini-total {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-top: 1px #232528 solid;
  border-bottom: 1px #232528 solid;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  background: #f3f3f3;
}

.cart-preview-wrapper .move-to-cart-btn {
  width: 100%;
  outline: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  color: #19c9ff;
  border: none;
}

.cart-preview-wrapper .move-to-cart-btn:hover {
  background: #19c9ff;
  color: #f3f3f3;
}

.cart-preview-wrapper .cart-mini {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*    ========== ALMOST scaled image inside container ==========    */
}

.cart-preview-wrapper .cart-mini img {
  width: 60%;
  height: 60%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.cart-preview-wrapper .cart-mini i {
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  color: #fc1e1e;
  cursor: pointer;
}

.cart-preview-wrapper .cart-mini i:hover {
  background: #fc1e1e;
  color: #f3f3f3;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== FOOTER ==========
*/
.footer-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 22rem;
  background: #21215c;
  color: #19c9ff;
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
  padding: 0.5rem;
}

.footer-container .footer-wrapper {
  max-width: 60vw;
  margin: auto;
}

.footer-container .footer-caption {
  color: #f3f3f3;
}

.footer-container .footer-caption,
.footer-container .footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px #19c9ff solid;
}

.footer-container .footer-caption h6,
.footer-container .footer-grid h6 {
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.footer-container .footer-caption h6:hover,
.footer-container .footer-grid h6:hover {
  color: #f3f3f3;
}

.footer-container .info {
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 60vw;
}

.footer-container .info #code {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.footer-container .info a:hover {
  color: #f3f3f3;
}

.footer-container .info a:hover #code {
  opacity: 1;
}

.footer-container .info .social-wrapper {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .info .social-wrapper .social {
  margin-left: 1rem;
}

.footer-container .info .social-wrapper .social:hover {
  color: #f3f3f3;
  cursor: pointer;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== NAVBAR ==========
*/
.navbar {
  background-color: #21215c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  border-bottom: 2px #19c9ff solid;
  height: 5rem;
}

.navbar-el {
  font-size: 1.5rem;
  padding: 0.75rem;
  margin: 0.6rem;
  border: none;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  color: #19c9ff;
  cursor: pointer;
}

.navbar-el:hover {
  color: #f3f3f3;
  -webkit-transform: translate(0, 5%);
          transform: translate(0, 5%);
}

.nav-cart-link {
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-cart-link i {
  padding-right: 0.5rem;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== PRODUCTS ==========
*/
.products-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  margin-top: 5rem;
}

.products-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 60vw;
  grid-gap: 2rem;
}

.product {
  border: 0.5px rgba(0, 0, 0, 0.089) solid;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  /* 
========== PRODUCTS ADD CART ==========
*/
}

.product:hover {
  -webkit-box-shadow: 0px 0px 15px 1px #232528;
          box-shadow: 0px 0px 15px 1px #232528;
}

.product:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product:hover .add-cart-btn {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.product img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: inherit;
  transition: inherit;
  padding: 1rem;
}

.product .add-cart-btn {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  outline: none;
  background: none;
  color: #21215c;
  border: none;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.product .add-cart-btn:hover {
  color: #f3f3f3;
  background: #21215c;
}

.product .add-cart-btn p {
  background: transparent;
  font-size: 1rem;
  margin: 0.5rem 0.2rem;
  font-weight: bolder;
}

.product .add-cart-btn i {
  cursor: pointer;
  margin: 0.5rem 0.2rem;
}

.product .product-footer {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #e6e6e6;
  border-top: 1px #232528 dashed;
  border-radius: 3px;
}

:root {
  --white: #f3f3f3;
  --blue: #21215c;
  --lightblue: #19c9ff;
  font-size: 100%;
}

/* 
========== @MEDIA scale font ==========
*/
@media (max-width: 1440px) {
  :root {
    font-size: 90%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 70%;
  }
}

/* 
========== BODY ==========
*/
body {
  background: #f3f3f3;
  color: #232528;
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* 
========== GLOBAL ==========
*/
a {
  text-decoration: none;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #19c9ff;
  font-family: "Permanent Marker", cursive;
}

.bolder {
  font-weight: bolder;
}

.capitalize {
  text-transform: capitalize;
}

.default {
  margin-top: 5rem;
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
}

input[type="number"] {
  width: 50%;
  min-width: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 1px;
}

input[type="number"]:hover {
  border-color: var(--blue);
  color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
========== DETAILS ==========
*/
.details-container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  height: 100vh;
}

.details-container .details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80vw;
  min-width: 50%;
  margin: 10px;
}

.details-container .details-wrapper img {
  width: 25rem;
  height: 25rem;
}

.details-container .details-wrapper .text-wrapper span {
  text-transform: uppercase;
}

.details-container .details-wrapper .text-wrapper h4 {
  text-decoration: underline;
}

.details-container .details-wrapper .text-wrapper button {
  font-size: 1.5rem;
  border: 2px #19c9ff solid;
  border-radius: 10px;
  padding: 10px;
  color: #19c9ff;
  background: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.details-container .details-wrapper .text-wrapper button:hover {
  color: #f3f3f3;
  border: 2px #f3f3f3 solid;
  background-color: #19c9ff;
}

.details-container .details-wrapper .text-wrapper .alt-text {
  font-size: 1.5rem;
  color: #19c9ff;
}

/* 
========== @MEDIA ==========
*/
@media (max-width: 1024px) {
  .details-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .quantity-check {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .cart-container {
    max-width: 80vw;
  }
}

@media (max-width: 500px) {
  .products-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    max-width: 90vw;
    grid-gap: 0rem;
  }
  .cart-container {
    padding: 0;
    max-width: 95vw;
  }
  .cart-container .total {
    min-width: 25vw;
  }
  .cart-container .caption {
    display: none;
  }
  .cart-container .cart-wrapper {
    -ms-grid-columns: (minmax(60px, 80vw))[3];
        grid-template-columns: repeat(3, minmax(60px, 80vw));
    margin: 0;
  }
  .cart-container .cart-wrapper img {
    width: 4rem;
    height: 4rem;
  }
  .cart-preview-wrapper .cart-mini {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cart-preview-wrapper .cart-mini img {
    display: none;
  }
}

/* 
========== ANIMATIONS ==========
*/
@-webkit-keyframes vanish {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes vanish {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move {
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}

@keyframes move {
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
}
/*# sourceMappingURL=App.css.map */